version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - ./noco_wink_inventory_sync:/app/noco_wink_inventory_sync
######## required on server only

#     networks:
#       - spectacle-shared-network

# networks:
#   spectacle-shared-network:
#     external: true